<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Meter Reading</title>
</head>
<body>
    <h2>Electricity Meter Reading Form</h2>
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    <form action="{% url 'submit_reading' %}" method="post">
        {% csrf_token %}
        <label for="meter_number">Meter Number:</label><br>
        <input type="text" id="meter_number" name="meter_number" required><br><br>

        <label for="last_reading">Last Reading:</label><br>
        <input type="number" id="last_reading" name="last_reading" required><br><br>

        <label for="new_reading">New Reading:</label><br>
        <input type="number" id="new_reading" name="new_reading" required><br><br>

        <label for="reading_date">Reading Date:</label><br>
        <input type="date" id="reading_date" name="reading_date" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
