<div class="col-md-8">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">{{consumer.consumer_name }}</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="04626d74446e716f69716c2a6568">[email&#160;protected]</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Consumer Number</h6>
                </div>
                <div class="col-sm-9 text-secondary">{{ consumer.consumer_number }}</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">{{ consumer.consumer_address }}</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Tariff</h6>
                </div>
                <div class="col-sm-9 text-secondary">{{ consumer.consumer_tariff }}</div>
            </div>
        </div>
    </div>