<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumer Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ consumer.name }}</h1>
    <!-- Consumer Profile Section -->
    <h2>Profile Information</h2>
    <a href="{% url 'consumer:show_profile'%}">Show Profile</a>
    <p><strong>Consumer Number:</strong> {{ consumer.consumer_number }}</p>
    <p><strong>Meter Number:</strong> {{ consumer.meter_number }}</p>
    <p><strong>Area Number:</strong> {{ consumer.area_number }}</p>
    <p><strong>Tariff:</strong> {{ consumer.tariff }}</p>
    <p><strong>Approval Status:</strong> {{ consumer.approved }}</p>
    <a href="{% url 'consumer:show_bills'%}">Show Bill</a>

    <!-- Bill History Section -->
    <h2>Your Bills</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Consumer Number</th>
                <th>Amount Due</th>
                <th>Bill Due Date</th>
                <th>Month</th>
                <th>Consumed Units</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
            <tr>
                <td>{{ bill.id }}</td>
                <td>{{ bill.consumer.consumer_number }}</td>
                <td>{{ bill.amount_due }} PKR</td>
                <td>{{ bill.due_date|date:"M d, Y" }}</td>
                <td>{{ bill.month|date:"M" }}</td>
                <td>{{ bill.consumed_units }}</td>
                <td>
                    {% if bill.paid %}
                        Paid
                    {% else %}
                        Not Paid
                    {% endif %}
                </td>
                
                <td>
                    <!-- Payment Form for each bill -->
                    <form action="{% url 'consumer:payment_gateway' bill.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Pay Now</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Payment History Section -->
    <h2>Payment History</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Amount Paid</th>
                <th>Payment Date</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr>
                <td>{{ payment.amount_paid }}</td>
                <td>{{ payment.payment_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Online Payment Section -->
</body>
</html>
