<!-- payment/success.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
    
    body{
        font-family: "Poppins", sans-serif;}
        
    </style>
</head>
<body>
    <h1>Payment Successful!</h1>
    <p>Thank you for your payment.</p>
    <p>Transaction Reference: {{ txn_ref }}</p>
    <p>Amount Paid: {{ amount }}</p>
</body>
</html>
