<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show All Users</title>
</head>
<body>
    <div class="content">
        <h1>All Users</h1>
        <table border="1">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Area</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.area }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
