{% extends 'sdo/base.html' %}

{% block content %}

<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">{{title}}</h1>
                </div>

                <div class="tab-content" id="orders-table-tab-content">
                    <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive">
                                    <table class="table app-table-hover mb-0 text-left table-green">
                                        <thead>
                                            <tr class="table-header">
                                      
                                                <th>Tariff Type</th>
                                                <th>Price for 100 Units</th>
                                                <th>Price for 100-200 Units</th>
                                                <th>Price for 200-300 Units</th>
                                                <th>Price for Above 300 Units</th>
                                                <!-- <th>Actions</th> -->
                                              </tr>
										
                                        </thead>
                                        <tbody>
                                         
											
                        {% for tariff in all_tariffs %}
                        <tr class="table-row">
                          <td>{{ tariff.get_tariff_type_display }}</td>
                          <td>{{ tariff.price_100 }}</td>
                          <td>{{ tariff.price_200 }}</td>
                          <td>{{ tariff.price_300 }}</td>
                          <td>{{ tariff.price_above }}</td>
                        </tr>
                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div><!--//table-responsive-->
                            </div><!--//app-card-body-->
                        </div><!--//app-card-->
                    </div><!--//tab-pane-->
                </div><!--//tab-content-->
            </div><!--//container-xl-->
        </div><!--//app-content-->
    </div><!--//app-wrapper-->
{% endblock %}
