<!-- payment_history.html -->
{% extends "consumer/profile_consumer.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Payment History</h5>
        <div class="table-responsive">
        <table class="table custom-table ">
            <thead>
                <tr>
                    <th>Bill Month</th>
                    <th>Payment Date</th>
                    <th>Total Amount Paid</th>
                    <th>Bank Charges</th>
                    <th>Arrears Charges</th>
                    <th>Transaction ID</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                <tr>
                    <td>{{ payment.bill.billmonth|date:"F Y" }}</td>
                    <td>{{ payment.payment_date|date:"d-m-Y" }}</td>
                    <td>{{ payment.total_amount_paid }}</td>
                    <td>{{ payment.bank_charges }}</td>
                    <td>{{ payment.arrears_charges }}</td>
                    <td>{{ payment.txn_id }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No payment history available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock %}
